<header id="cabecalho">
    <div id="div-menu">
        <nav id="nav-menu">
            <ul id="lista-menu">
                <li>
                    <a routerLink="/home" class="rota-lnk"> Home </a>
                </li>
                <li>
                    <a routerLink="/formulario" class="rota-lnk"> Formulario </a>
                </li>
                <li>
                    <a routerLink="/lista" class="rota-lnk"> Lista </a>
                </li>
            </ul>
        </nav>
    </div>
</header>