#div-home{
    width: 80%;
    height: 80%;
    margin: 30% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}

h1{
    color: var(--cinza);
}

#veiculos-servicos{
    color: var(--cinza2);
}