@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background-color: var(--branco);
}

:root{
    --branco: #F8FAFC;
    --botao1: #BFDBFE;
    --botao2: #2563EB;
    --menu: #1E293B;
    --cinza: #1E293B;
    --cinza2: #64748B;
}